alias gti='git'
alias gitc='git commit'
alias gita='git add -A .'
alias gits='git status'
alias gitp='git push'
alias gitco='git checkout'
alias mkvirtualenv3='mkvirtualenv --python=`which python3`'
alias ipy="python -c 'import IPython; IPython.terminal.ipapp.launch_new_instance()'"
alias mktmpenv3="mktmpenv -p python3 && pip install ipython jupyter ipdb"
alias dirsize='du -sh'
