alias gti='git'
alias gitc='git commit'
alias gita='git add -A .'
alias gits='git status'
alias gitp='git push'
alias gitco='git checkout'
alias mkvirtualenv3='mkvirtualenv --python=`which python3`'
alias dirsize='du -sh'
